<div class="dreams-show-background">
  <div class="container">
    <h1 class="show-font-colour" style="padding-top: 2vh;"><%= @dream.name %></h1>
    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-8 details-section">
        <%= cl_image_tag @dream.photo, height: 400, width: 600 %>
        <div class="d-flex dream-detail">
          <ul class="detail-list">
            <li><strong>Category:</strong> <%= @dream.category %></li>
            <li><strong>Price:</strong> <%= @dream.price %></li>
          </ul>
        </div>
        <div class="dream-description">
          <h2 class="show-font-colour"><strong>Description:</strong></h2>
          <p><%= @dream.description %></p>
        </div>
        <br>
        <div class="d-flex show-font-colour">
          <h3>Reviews</h3>
          <div class="ml-auto stick-to-screen">
            <%= link_to "Write a review", new_dream_review_path(@dream), class: "btn btn-ghost" %>
          </div>
        </div>
        <hr />
          <div>
            <% @reviews.each do |review| %>
            <div class="review-card">
              <%= cl_image_tag review.user.photo, width: 200, height: 200, crop: :thumb, gravity: :face %>
              <div class="review-card-infos">
                <h2><%= review.content %></h2>
                <div class="d-flex justify-content-between">
                  <p><strong>Accuracy:</strong> <%= review.accuracy %> <strong>Design:</strong>  <%= review.design %> <strong>Value:</strong>  <%= review.value %> <strong>Overall Rating:</strong>  <%= review.rating %></p>
                  <%= link_to "Edit Review", edit_dream_review_path(@dream, review), class: "review-card-edit btn btn-ghost" %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card sleep-booking-form">
          <%= render 'sleeps/form' %>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="dream-show-button-bottom">
        <%= link_to "Back", dreams_path, class: "btn btn-ghost" %>
      </div>
      <div class="dream-show-button-bottom">
        <%= link_to "Edit Dream", edit_dream_path(@dream), class: "btn btn-ghost" %>
      </div>
      <div class="dream-show-button-bottom">
        <%= link_to "Delete Dream", dream_path(@dream),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-ghost" %>
      </div>
    </div>
    <br>
  </div>
</div>
