<div class="user-container">
  <div class="main-section">
    <div class="dreams">
      <h2>Upcoming Dreams</h2>
      <% @sleeps.each do |sleep| %>
        <div class="card-product">
          <%= cl_image_tag sleep.dream.photo, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= sleep.dream.name %></h2>
            <p><%= sleep.dream.description %></p>
            <p><%= sleep.date %></p>
          </div>
        </div>
      <% end %>
    </div>
    <h2>My Reviews</h2>
    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= review.content %></h2>
            <div class="raitings">
              <p><%= review.accuracy %></p>
              <p><%= review.value %></p>
              <p><%= review.design %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="ideogram">
    <%= image_tag "ideogram.jpg", alt: "Indulge", width: 200 %>
  </div>
</div>
