<div class="user-container">
  <div class="main-section">
    <div class="dreams">
      <h2>Upcoming Dreams</h2>
      <% @sleeps.each do |sleep| %>
        <div class="card-product">
          <%= cl_image_tag sleep.dream.photo, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h3><%= sleep.dream.name %></h3>
            <p><%= sleep.dream.description %></p>
            <p>Date: <%= sleep.date %></p>
          </div>
        </div>
      <% end %>
    </div>
    <h2>My Reviews</h2>
    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="card-product" id="reviews">
          <div class="card-product-infos">
            <h5><%= review.dream.name %></h5>
            <h4><%= review.content %></h4>
            <div class="ratings">
              <p>Accuracy: <%= review.accuracy %></p>
              <p>Value: <%= review.value %></p>
              <p>Design: <%= review.design %></p>
            </div>
            <h5>Overall: <%= review.rating %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="ideogram">
    <%= image_tag "ideogram.jpg", alt: "Indulge", width: 200 %>
  </div>
</div>
